<div>
  <h2>Seat Reservation</h2>
  <input type="number" [(ngModel)]="requestedSeats" placeholder="Enter number of seats" min="1" max="7" />
  <button (click)="reserveSeats(requestedSeats)">Book Seats</button>

  <h3>Booked Seats:</h3>
  <ul>
    <li *ngFor="let seat of bookedSeats">{{ seat }}</li>
  </ul>

  <h3>Seat Layout:</h3>
  <div class="seat-layout">
    <div *ngFor="let row of seats; let i = index">
      <span *ngFor="let seat of row; let j = index" 
            [class.booked]="seat" 
            [class.available]="!seat">
        {{ seat ? 'X' : (i === 11 ? j + 1 : j + 1) }}
      </span>
      <br />
    </div>
  </div>
</div>
