/* Add application styles & imports to this file! */
.seat-layout {
  display: flex;
  flex-direction: column;
}

span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
}

.booked {
  background-color: red;
  color: white;
}

.available {
  background-color: lightgreen;
}
